@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply -z-10 bg-dark-900 text-base;
  }

  h2 {
    @apply text-[28px] font-bold leading-[36.4px] md:text-[32px] md:leading-[40px] xl:text-5xl xl:leading-[67.2px];
  }

  .section-heading {
    @apply text-xs;
  }
}

.accordion-content {
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}

.accordion-content[aria-expanded='true'] {
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  transition-delay: 200ms;
}

.react-reveal {
  opacity: 0;
}

/* For Autocomplete color in Inputs  */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #3B3B4F;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  color: #212530;
}
